body {
  /* Default responsive breakpoints */
  // background-color: red;

  // @include media($tiny) {
  // 	background-color: orange !important;
  // }

  // @include media($small) {
  // 	background-color: yellow !important;
  // }

  // @include media($medium) {
  // 	background-color: green !important;
  // }

  // @include media($large) {
  // 	background-color: blue !important;
  // }
}

div#root {
  display: block; /* IE! */
  margin: 0 auto $pad auto;
  padding-bottom: $pad * 3;
  max-width: $max-width;
  border-bottom: 1px solid $border;
  width: 100%;
  background: red;
  border: 1px solid green;
}

body {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.inner-wrapper {
  padding: 0 $pad;
  margin: auto;
  max-width: $max-width;
}

nav ul,
nav li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* CSS Tables */

.table {
  display: table;
}

.tr {
  display: table-row;
}

.td {
  display: table-cell;
}

.ir {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Adjust some Boilerplate stuff */
hr {
  border-top: 1px solid $border;
}

a {
  @include transition(all 0.125s ease-in-out);
}
