/* Variables & Defaults */

/* Colors 
================ */

$primary: #fff;
$secondary: #15cdf9;
$complimentary: #3bbbf2;
$tertiary: #08b5d8;

$text: #666;
$white: #fff;

$slab: "Roboto Slab", serif;

/* Alternates Palettes 
========================= */

$primary-design: #cc19ab;
$secondary-design: #fff;
$tertiary-design: pink;

$primary-dev: red;
$secondary-dev: black;

$link-color: #f5f590;

/* Sizes 
================ */

$padding: 18px;
$gutter: $padding;

$base-size: 16px;
$base-line-height: 32px;
$spacing: 0.03em;

$logo-size: 100px;
