/* Variables & Defaults */

:root {
  font-size: 16px;
}

/* Colors 
================ */

$primary: #fff;
$secondary: #15cdf9;
$complimentary: #3bbbf2;
$tertiary: #08b5d8;

$text: #666;
$white: #fff;

$slab: "Roboto Slab", serif;

$link-color: #f5f590;

/* Sizes 
================ */

$padding: 1.125rem;
$gutter: $padding;

$base-size: 1rem;
$base-line-height: 2rem;
$spacing: 0.03rem;

$logo-size: 6.25rem;
