/* Header 
================ */

body, html {
	height: 100%;
}

body header {
	position: fixed;
	top: 0;
	z-index: 10;
	display: table;
	background-color: $secondary;
	//padding: 24px;
	//margin-top: 33vw;
	height: 100%;
	width: 100%;
	border: $gutter solid $white;

	.logo {
		// display: none;
		position: fixed;
		width: 120px;
		height: 120px;
		font-size: 1.2em;
		color: #fff788;
		line-height: 70px;
		text-align: center;
		margin: auto;
		text-align: -9999px;
		top: 30%;
		left: 50%;
		opacity: 1;
		@include transform(translateX(-60px));

		svg {
			width: 120px;
			height: 120px;

			path {
				fill: $primary;
				// fill: #fff;
				//@include animation(logoLoadColor 1.5s 1 ease-in-out);
			}

			circle {
				stroke: $primary;
				// stroke: #fff;	
			}
		}
	}

	h1 {
		position: static;
		display: table-row;
		vertical-align: middle;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		text-transform: lowercase;

		//margin-top: -33vh;
		//@include transform(translateY(-16.5vh));
		//

		span.home { 
			position: fixed;
			top: 50%;
			left: 0;
			opacity: 1;
			//@include transform(translateX(-60px));

			padding: 0 24px;
			@include animation(fadeInUp 1.5s 1 ease-in-out);
			display: table-cell;
			vertical-align: middle;
			text-align: center;

			width: 100%;

			margin: 0 auto;
			color: $primary;
			font-weight: 300;

			strong {
				font-weight: 300;
			}

			a {

				color: $primary;
				text-decoration: none;
				// text-transform: none;
				padding-bottom: 5px;
				border-bottom: 2px dashed $primary;

				span {
					position: relative;
					// text-transform: lowercase;
					color: $primary;
					display: inline-block;
				}

				&.email {
					display: inline-block;
					margin-bottom: 16px;

					span {
						display: inline-block;
						opacity: 0;
						width: 0;
						@include transition(all .5s ease-in-out);

						&:first-child {
							width: 12px;
						}
					}

					&:hover {
						span {
							opacity: 1;
							width: 55px;

							&:first-child {
								width: 30px;
							}
						}
					}
				}
			}
		}

	}

	
}

body.inside {
	header {
		position: fixed;
		height: 100vh;
		width: 25vw;
		// border-right: 0;
		text-align: left;

		background-color: $primary-design;

		.logo {
			width: 96px;
			height: 96px;
			position: absolute;
			top: 24px;
			left: 50%;
			@include transform(translateX(-50%));

			svg {
				width: 96px;
				height: 96px;

				path {
					fill: $secondary-design;
				}

				circle {
					stroke: $secondary-design;	
				}
			}
		}

		h1 {
			font-size: $base-size;
			margin-left: $padding*2;

			span.home {
				display: none;
				position: absolute;
				top: 50%;
				left: 0;
				opacity: 0;

				.titles {
					display: none;
					opacity: 0;
					z-index: 1000 !important;
				}
			}
		}
	}

}

a.bottom-email {
	display: none;
	opacity: 0;
}

body.inside a.bottom-email {
	display: block;
	opacity: 1;
	position: absolute;
	bottom: $padding * 2;
	left: 50%;
	font-size: $base-size * 1.25;
	letter-spacing: $spacing;
	font-weight: 300;
	color: $white;
	text-decoration: none;
	@include transform(translateX(-50%));
	//margin-left: -26%;
	//@include animation(fadeInUp 1.5s 1 ease-in-out);
}

body.single a.bottom-email {
	bottom: $padding * 3;
}

body.cover .logo svg {
	@include animation(fadeInUp 1.5s 1 ease-in-out, logoLoad 1.5s 1 ease-in-out);
}