/* Header 
================ */

header {
  .logo {
    @include animation(fadeInUpLogo 1s 1 ease-in-out);
    display: block;
    font-size: 1.2em;
    line-height: 70px;
    text-align: center;
    margin: auto;
    text-align: -9999px;

    svg {
      width: $logo-size * 1.25;
      height: $logo-size * 1.25;

      path {
        fill: $primary;
      }

      circle {
        stroke: $primary;
      }
    }
  }
}

main {
  @include animation(fadeInUp 1.5s 1 ease-in-out);
  max-width: 500px;

  a.text-link {
    position: relative;
    color: $link-color;
    text-decoration: none;
    padding: 3px 8px;
    transition: all 0.15s ease-in-out;

    &:before,
    &:after {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 50%;
      content: " ";
      height: 100%;
      width: 0;
      background-color: $link-color;
      z-index: -1;
      transition: all 0.15s ease-in-out;
    }

    &:before {
      left: auto;
      right: 50%;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    &:after {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    &:hover {
      color: $secondary;
      cursor: pointer;

      &:before,
      &:after {
        width: 50%;
      }
    }
  }

  a.text-link {
    font-size: 0.85em;
    font-weight: 400;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    top: -2px;
    white-space: nowrap;
  }

  a.me {
    font-weight: 300;
    text-transform: none;
  }

  p {
    color: #fff;
    font-weight: 100;
  }
}

hr {
  position: relative;
  width: 61.8%;
  height: 1px;
  margin: $padding * 1.25 auto;
  border-top: 1px solid $tertiary;

  &:after {
    font-weight: 100;
    font-size: 0.65em;
    content: "§";
    color: darken($tertiary, 3%);
    position: absolute;
    top: -$padding * 1.25;
    left: 50%;
    width: 20px;
    background-color: $secondary;
    transform: translateX(-10px);
  }
}

ul.social-links {
  padding: $padding * 0.5 0 0 0;
  margin: 0;
  list-style-type: none;

  li {
    display: inline-block;
  }

  a {
    font-size: 1.5rem;
    color: lighten($tertiary, 35);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    border: 1px solid $tertiary;
    padding: 6px;
    margin: 12px;
    border-radius: 2rem;

    &:hover {
      color: $white;
      background-color: $tertiary;
    }
  }

  i {
    display: none;
  }
}
