body.inside nav {
	@include animation(fadeInLeft 1.5s 1 ease-in-out);
	opacity: 1; 
    @include transform(translateX(0));
}

nav {
	position: relative;
	opacity: 0; 
    @include transform(translateX(-100%));
	//left: -100%;
	// top: 0;
	// right: 0;
	//display: none;
	width: 50%;
	//@include transform(translateX(-200%));

	ul, li {
		margin: 0; padding: 0;
		list-style-type: none;
	}

	ul {
		//float: right;
		text-align: left;

		li {
			margin: 0 24px;
			display: block;

			a {
				display: inline-block;
				color: $white;
				font-size: $base-size * 1.5;
				text-decoration: none;
				font-weight: 300;
				letter-spacing: .125em;
				margin: 6px 0;
				padding: 12px;
				border: 7px double transparent;
				border-radius: 1px;
			}
			
	
			&.current a {
				//color: darken($white, 20%);
				border: 7px double darken($primary-design, 10%);
				border-radius: 50px;
			}

			// &:nth-child(3) a {
			// 	font-size: 1em;
			// 	position: absolute;
			// 	bottom: 0;

			// 	&:after {
			// 		content: "steve@skladany.net";
			// 		padding-left: 50px;
			// 	}
			// }

			// &.current a:before {
			// 	position: absolute;
			// 	left: 7px;
			// 	content: " ";
			// 	display: block;
			// 	width: 20px;
			// 	height: 20px;
			// 	border: 5px solid darken($primary-design, 10%);
			// 	border-radius: 50px;
			// }

		}

	}

}