
/* =====================================
::::::::::::: the LEVELER ::::::::::::::
======================================== 
 http://www.websemantics.co.uk/tutorials/useful_css_snippets/#leveller
 "The intention is to remove as many of the differences 
 between browsers and platforms as possible in one fell swoop."
 
 The 'height/min-height' code keeps the vertical scroll bar from disappearing in Firefox
======================================== */

* { margin:0; padding:0;
}

body { 
	font-family: 'Terminal Dosis', sans-serif;
	min-height:101%; font:100.01%/130% Helvetica, Arial, Tahoma, sans-serif; color:#000; background:#fff;
}
td { vertical-align: top;
}


/* =====================================
:::::::::::: GLOBAL STYLES :::::::::::::
======================================== */
body {
	font-size: .65em; 
	height: 100%; }
	
p {	
	font-size: 1.15em;
	font-family: 'Terminal Dosis', sans-serif;
	letter-spacing: .03em;
	margin: 0;
	padding: 0;
	line-height: 1.8em;
}

h1, h2 { 	
	font-size: 2em;
	color: #fff;
	line-height: 1.4em;
	font-weight: normal;
}

h3 {
	color: #09f;
	font-family: 'Terminal Dosis', sans-serif;
	font-size: 1.35em;
	line-height: 1.2em;
	text-transform: uppercase;
	letter-spacing: .05em;
	font-weight: bold;
	margin: 0 0 .5em 0;
}

section a {
	color: #09f;
}

h1 {
	display: inline;
	font-size: 2.6em;
	font-weight: normal;
	letter-spacing: .02em;
	//font-family: 'WisdomScriptAIRegular';
}
	
li {	
	list-style-type: none;
}
	
hr {
	display: none;
}

.clearBoth {
	clear: both;
}

/* Links
======================================== */

a, a h1, a h2,  a p, a img {
	text-decoration: none;
}

a img {	
	border: 0;
}
	
a {
	color: #ffe15a;
	font-weight: normal;
}
	
a div li, h3 a {	
	font-weight: bold;
}	

a:hover {
	background-color: #fc3;
	color: #09f;
}

div.hr {
	clear:both;
}




/* =====================================
:::::::::::: MAIN STRUCTURE ::::::::::::
======================================== */

body, #mainWrapper, #navWrapper, #descWrapper, #imageBlockWrapper {
	height: 100%;
	min-height: 48em;
}

body {
	padding: 0;
	text-align: center;
}

body, img, a, section {
	transition:all .2s linear; 
    -o-transition:all .2s linear; 
    -moz-transition:all .2s linear; 
    -webkit-transition:all .2s linear;
}

header {
	padding: 10px 0;
	z-index: 10;	
	background: #0099ff; /* Old browsers */
}

header p {
	margin: 0 auto 10px auto;
	padding: 0 20px;
	font-size: 1.2em;
	color: #fff;
}

header p a {
	font-weight: bold;
}

article {
	padding-top: 40px;
	background-color: #fff;
}

img {
	width: 300px;
	height: auto;
}

section {
	width: 280px;
	margin: 10px auto 20px auto;
	padding: 10px;
	border-top: 1px dotted #aaa;
	border-bottom: 1px dotted #aaa;
}

div.gallery img {
	margin-bottom: 12px;
}

/* navBlock
---------------------------- */

nav {
	display: block;
	width: 300px;
	margin: 5px auto 0 auto;
	padding-top: 10px;
	border-top: 1px dotted #ddd;
}

nav ul {
	margin: 0 auto;
	text-align: center;

}

nav li {
	float: left;
	width: 38px;
	margin: 0 6px 6px 6px;
}

nav li a {
    text-indent: -9000px;
    display: block;
    overflow: hidden;
    height: 38px;
    width: 38px;
    background: url(images/navBlock.png) no-repeat; 
}

nav li.stamps a  		 { background-position: 0 0}
nav li.bayer a			 { background-position: -38px 0}
nav li.earthquake a		 { background-position: -76px 0}
nav li.beerCups a		 { background-position: -114px 0}
nav li.danceMarathon a 	 { background-position: -152px 0}
nav li.outdoorAds a		 { background-position: -190px 0}
nav li.summerTV a		 { background-position: -228px 0}
nav li.mediaComp a		 { background-position: -266px 0}
nav li.radio a			 { background-position: -304px 0}
nav li.primer a			 { background-position: -342px 0}
nav li.eyebeam a		 { background-position: -380px 0}
nav li.chopin a			 { background-position: -418px 0}
nav li.soldiersface a	 { background-position: -456px 0}
nav li.southpointe a	 { background-position: -494px 0}
nav li.amalgamatedbank a { background-position: -532px 0}
nav li.u4u a			 { background-position: -570px 0}
nav li.luckys a			 { background-position: -608px 0}


nav li:hover.stamps a, nav li.current-menu-item.stamps a  					{ background-position:  0	  -38px}
nav li:hover.bayer a, nav li.current-menu-item.bayer a					{ background-position: -38px  -38px}
nav li:hover.earthquake a, nav li.current-menu-item.earthquake a 			{ background-position: -76px  -38px}
nav li:hover.beerCups a, nav li.current-menu-item.beerCups a 				{ background-position: -114px -38px}
nav li:hover.danceMarathon a, nav li.current-menu-item.danceMarathon a 	{ background-position: -152px -38px}
nav li:hover.outdoorAds a, nav li.current-menu-item.outdoorAds a 			{ background-position: -190px -38px}
nav li:hover.summerTV a, nav li.current-menu-item.summerTV a 				{ background-position: -228px -38px}
nav li:hover.mediaComp a, nav li.current-menu-item.mediaComp a			{ background-position: -266px -38px}
nav li:hover.radio a, nav li.current-menu-item.radio a					{ background-position: -304px -38px}
nav li:hover.primer a, nav li.current-menu-item.primer a 					{ background-position: -342px -38px}
nav li:hover.eyebeam a, nav li.current-menu-item.eyebeam a					{ background-position: -380px -38px}
nav li:hover.chopin a, nav li.current-menu-item.chopin a					{ background-position: -418px -38px}
nav li:hover.soldiersface a, nav li.current-menu-item.soldiersface a 		{ background-position: -456px -38px}
nav li:hover.southpointe a, nav li.current-menu-item.southpointe a			{ background-position: -494px -38px}
nav li:hover.amalgamatedbank a, nav li.current-menu-item.amalgamatedbank a	{ background-position: -532px -38px}
nav li:hover.u4u a, nav li.current-menu-item.u4u a							{ background-position: -570px -38px}
nav li:hover.luckys a, nav li.current-menu-item.luckys a					{ background-position: -608px -38px}

nav a:hover, nav li a.current-menu-item {
	background-color: transparent;
	background-position: 0 -38px;
}




@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
	
	body {
		font-size: .75em;
	}

	nav, header p {
		width: 450px;
	}

	section {
		width: 440px;
	}

	img {
		width: 460px;
		height: auto;
	}

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

	section {
		width: 500px;
	}

	img {
		width: auto;
		height: auto;
	}


}

@media only screen and (min-width: 900px) {
  /* Style adjustments for viewports 768px and over go here */

	article {
		width: 580px;
		margin: 0 auto;
		position: relative;
		padding-left: 320px;
	}

	section {
		position: absolute;
		left: 30px;
		top: 30px;
		width: 240px;
	}

	nav, header p {
		width: 850px;
	}


	img {
		width: auto;
		height: auto;
	}


}